{% extends 'index.html' %}
{% load static %}



{% block title %}Home{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<main class="grid w-screen mt-[20vh] place-content-center text-center px-[5vw]">
    <div class="flex items-center justify-center bg-black mb-7">
        <div class="group relative">
            <div
                class="absolute -inset-1 rounded-lg bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-50 blur transition duration-500 group-hover:opacity-90">
            </div>
            <button class="relative rounded-lg bg-black px-5 py-1 text-white">Get summaries in a flash!⚡️</button>
        </div>
    </div>
    <div class="tagline opacity-0 my-3">
        <h1
            class="bg-gradient-to-br from-rose-400 via-fuchsia-500 to-indigo-500/40 bg-clip-text py-3 text-5xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-6xl md:text-7xl lg:text-8xl">
            TLDR; made easy with SummarizeAI.
        </h1>
        <h2 class="text-zinc-400 font-normal text-xl mt-4">
            Conquer information overload with SummarizeAI. <br /> Precise summaries at your fingertips.
        </h2>
        <a href="#introductionSection"
            class="inline-flex font-normal items-center justify-center rounded-lg bg-white text-black py-1.5 px-7 mt-10 group">
            <span>Get Started</span>
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="ml-1 size-4 transition-transform duration-300 ease-in-out group-hover:translate-x-1">
                <path
                    d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                    fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</main>



<section class="w-screen h-[100vh] grid items-center" id="introductionSection">
    <div>
        <h1
            class="bg-gradient-to-br fadeentertext text-center from-zinc-700 via-zinc-600 to-zinc-500 bg-clip-text py-3 text-5xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-7xl md:text-8xl lg:text-8xl">
            <!-- <span>Intelligent summaries,</span>
            <br />
            <span>deeper understanding</span> -->
            Introducing SummarizeAI
        </h1>
    </div>
</section>

<section class="w-screen grid items-center px-[5vw]">
    <h3
        class="introduction bg-gradient-to-br text-center from-zinc-700 via-zinc-600 to-zinc-500 bg-clip-text py-3 text-4xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-5xl md:text-6xl lg:text-6xl">
        In a world drowning in information, SummarizeAI is your lifeline. Imagine having the power to condense hours of
        content into minutes, without losing any essence. From lengthy articles to complex reports, SummarizeAI is your
        intelligent companion, extracting key points and delivering concise summaries. Say goodbye to information
        overload and hello to efficient learning. With SummarizeAI, you control the flow of knowledge, grasping the big
        picture in seconds.
    </h3>
</section>


<!-- <section class="my-40">
    <div>
        <h1
            class="text-white text-center text-5xl font-medium leading-none tracking-tighter text-balance sm:text-5xl md:text-6xl lg:text-7xl">
            Who We Are
        </h1>
    </div>

    <div class="text-center mx-[7vw] my-20">
        <p class="text-zinc-600 text-3xl font-bold">
            We're SummarizeAI, your AI-powered content companion. Our mission is to simplify the way you consume
            information. With our advanced technology, we transform lengthy texts, documents, and videos into concise
            summaries, saving you time and effort. Experience the future of information processing with SummarizeAI.
        </p>
    </div>
</section> -->




<section class="mt-24 py-24 box" id="products">
    <div>
        <h1
            class="text-white text-center text-5xl font-medium leading-none tracking-tighter text-balance sm:text-5xl md:text-6xl lg:text-7xl">
            Products
        </h1>
    </div>
    <div class="my-10 mx-[10vw] grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-zinc-950/10 rounded-2xl border border-zinc-900 cursor-pointer shadow-2xl subbox">
            <div class="my-8 mx-8">
                <span class="material-symbols-outlined text-5xl text-rose-400">
                    description
                </span>
                <h1 class="my-4 font-semibold text-2xl">
                    Document Summarization
                </h1>

                <p class="text-zinc-400 font-normal">
                    SummarizeAI instantly condenses lengthy documents into concise summaries. Quickly grasp key points,
                    save time, and boost productivity with our AI-powered tool.
                </p>
            </div>
        </div>


        <div class="bg-zinc-950/10 rounded-2xl border border-zinc-900 cursor-pointer shadow-2xl subbox">
            <div class="my-8 mx-8">
                <span class="material-symbols-outlined text-5xl text-blue-400">
                    youtube_activity
                </span>
                <h1 class="my-4 font-semibold text-2xl">
                    Youtube Video Summarization
                </h1>

                <p class="text-zinc-400 font-normal">
                    SummarizeAI quickly transforms long YouTube videos into concise summaries. Grab key points without
                    watching the entire video.
                </p>
            </div>
        </div>

        <div class="bg-zinc-950/10 rounded-2xl border border-zinc-900 cursor-pointer shadow-2xl subbox">
            <div class="my-8 mx-8">
                <span class="material-symbols-outlined text-5xl text-emerald-400">
                    mic
                </span>
                <h1 class="my-4 font-semibold text-2xl">
                    Audio Summarization
                </h1>

                <p class="text-zinc-400 font-normal">
                    SummarizeAI quickly transforms long YouTube videos into concise summaries. Grab key points without
                    watching the entire video.
                </p>
            </div>
        </div>


        <div class="bg-zinc-950/10 rounded-2xl border border-zinc-900 cursor-pointer shadow-2xl lg:col-start-2 subbox">
            <div class="my-8 mx-8">
                <span class="material-symbols-outlined text-5xl text-violet-500">
                    globe
                </span>
                <h1 class="my-4 font-semibold text-2xl">
                    Webpage Summarization
                </h1>

                <p class="text-zinc-400 font-normal">
                    SummarizeAI quickly transforms long YouTube videos into concise summaries. Grab key points without
                    watching the entire video.
                </p>
            </div>
        </div>
    </div>
</section>



<section class="w-screen h-[100vh] grid items-center overflow-hidden backcovermove">
    <!-- <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl absolute ball blur" data-speed=".25"></div>
    <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl right-10 absolute ball" data-speed=".05"></div>
    <div class="w-[5rem] h-[5rem] bg-emerald-700 rounded-3xl left-[20vw] absolute ball" data-speed=".35"></div>
    <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl left-[30vw] absolute ball" data-speed=".15"></div>
    <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl left-[50vw] absolute ball" data-speed=".95"></div>
    <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl left-[70vw] absolute ball" data-speed=".75"></div>
    <div class="w-[3rem] h-[3rem] bg-rose-200 rounded-3xl left-[10vw] absolute ball" data-speed=".5"></div> -->

    <div class="h-0 width-screen grid items-center bg-zinc-100 backcover">

        <h1
            class="absolute mx-10 bg-gradient-to-br mix-blend-difference from-zinc-700 via-zinc-600 to-zinc-500 bg-clip-text py-3 text-7xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-7xl md:text-8xl lg:text-8xl">
            From <span class="text-white entertext mix-blend-difference">articles</span> to videos,<br />
            we've got you <span class="text-white entertext mix-blend-difference">covered.</span>
        </h1>
    </div>

</section>



<section class="w-screen h-[100vh] my-[10vh] grid items-center">
    <div>
        <h1
            class="bg-gradient-to-t fadeentertextbottom text-center from-zinc-500/60 via-zinc-200 to-zinc-100 bg-clip-text py-3 text-5xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-7xl md:text-8xl lg:text-8xl">
            <span>Intelligent summaries,</span>
            <br />
            <span>deeper understanding</span>
        </h1>
    </div>
</section>


<section class="faqs w-screen min-h-screen bg-zinc-950 md:bg-zinc-900 grid place-content-center">
    <div class="pt-24">
        <h1
            class="bg-gradient-to-t text-center from-zinc-500/60 via-zinc-200 to-zinc-100 bg-clip-text py-3 text-4xl font-medium leading-none tracking-tighter text-transparent text-balance sm:text-5xl md:text-6xl lg:text-8xl">
            <span>Frequently asked</span>
            <br />
            <span>questions</span>
        </h1>
    </div>


    <div class="py-24 px-8 md:px-16 grid grid-cols-1 md:grid-cols-2 gap-8 text-center md:text-left">
        <div>
            <h1
                class="text-zinc-100 py-3 text-2xl font-medium leading-none tracking-tighter text-balance sm:text-2xl md:text-3xl lg:text-4xl">
                What is SummarizeAI?
            </h1>
            <h3
                class="text-zinc-400 py-3 text-md font-medium leading-none tracking-tighter text-balance sm:text-lg md:text-xl lg:text-2xl">
                From lengthy articles to complex reports, SummarizeAI is your intelligent companion, extracting key
                points and delivering concise summaries.
            </h3>
        </div>

        <div>
            <h1
                class="text-zinc-100 py-3 text-2xl font-medium leading-none tracking-tighter text-balance sm:text-2xl md:text-3xl lg:text-4xl">
                Can I use SummarizeAI for free?
            </h1>
            <h3
                class="text-zinc-400 py-3 text-md font-medium leading-none tracking-tighter text-balance sm:text-lg md:text-xl lg:text-2xl">
                Yes, You can use SummarizeAI for free. SummarizeAI is free and open-source platform under MIT License. You can check out the code <a href="https://github.com/Aditya-Patwa/SummarizeAI" target="_blank" class="font-bold border-b border-white">here.</a>
            </h3>
        </div>

        <div>
            <h1
                class="text-zinc-100 py-3 text-2xl font-medium leading-none tracking-tighter text-balance sm:text-2xl md:text-3xl lg:text-4xl">
                Is it easy to manage summaries in SummarizeAI?    
            </h1>
            <h3
                class="text-zinc-400 py-3 text-md font-medium leading-none tracking-tighter text-balance sm:text-lg md:text-xl lg:text-2xl">
                SummarizeAI provides easy interface to summarize your content and manage it.
                You can summarize webpage and Youtube videos with ease.
            </h3>
        </div>

        <div>
            <h1
                class="text-zinc-100 py-3 text-2xl font-medium leading-none tracking-tighter text-balance sm:text-2xl md:text-3xl lg:text-4xl">
                Can I request a feature?
            </h1>
            <h3
                class="text-zinc-400 py-3 text-md font-medium leading-none tracking-tighter text-balance sm:text-lg md:text-xl lg:text-2xl">
                Yes, you can request a feature. Also, we highly recommend sharing your issues or recommandations about the platform. You can <a href="mailto:adityapatwa.tech@gmail.com" class="font-bold border-b border-white">contact us here.</a>
            </h3>
        </div>
    </div>
</section>

{% endblock %}



{% block script %}
<script src="{% static 'script/home.js' %}"></script>
{% endblock %}