<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}
    {% endblock %}

    <!-- {% csrf_token %} -->

    <!-- <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch("/api/summarize_webpage/", {
            method: "POST", body: "https://google.com", headers: { 'X-CSRFToken': csrftoken },
            
        }).then((res) => res.json()).then(data => console.log(data));

    </script> -->
</body>

</html>