{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="{% static 'tailwind.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">


    {% block style %}
    {% endblock %}
</head>

<body class="w-screen overflow-x-hidden font-inter text-white bg-black">
    <header
        class="header fixed top-0 opacity-0 z-10 backdrop-blur-md bg-black/10 w-screen px-10 py-2 flex justify-between items-center border-b border-zinc-800">
        <div>
            <a href="/">
                <h1
                    class="bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text py-3 text-xl font-semibold leading-none tracking-tighter text-transparent text-balance">
                    SummarizeAI</h1>
            </a>
        </div>
        <div class="flex">
            <div>
                <a href="/accounts/login" class="py-2 px-3">
                    Log in
                </a>
            </div>
            <div>
                <a href="/accounts/new" class="py-2 px-3 rounded-md bg-zinc-300/20">
                    Sign up
                </a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}



    <script src="{% static 'script/gsap.min.js' %}"></script>
    <script src="{% static 'script/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'script/index.js' %}"></script>
    {% block script %}

    {% endblock %}
    <!-- {% csrf_token %} -->

    <!-- <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch("/api/summarize_webpage/", {
            method: "POST", body: "https://google.com", headers: { 'X-CSRFToken': csrftoken },
            
        }).then((res) => res.json()).then(data => console.log(data));

    </script> -->
</body>

</html>